
.title {
  color: #525454;
  font-size: 32px;
  margin: 10px 0 10px 0;
  text-align: center;
}
#map {
  border: 1px solid;
  height: 80vh;
}
.options-box {
  background: #EEE8AA;
  border: 1px solid;
  line-height: 35px;
  padding: 10px 10px 10px 10px;
  text-align: left;
  height: 80vh;

}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 20px;

  }
  .places {
    font-size: 12px;
  }
    .options-box {
      height: 35vh;
    }
    #map {
      height: 60vh;
    }
  }
